/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require bootstrap/dist/css/bootstrap.min
 *= require_tree .
 *= require_self
 */

#wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
 }

body {
  padding: 0;
  background-repeat: no-repeat;
  margin:0 auto;
}
li{
    list-style:none;
}

ul{
    padding:0;
}


nav {
  background-color: #B62924;
}
nav p {
  color: white;
}

a.Raitter_logo {
  color: white;
  text-decoration: none;
  &:visited {
    color: #666;
  }

  &:hover {
    background-color: #fff;
  }
}

a.raeet_link {
  color: black;
  text-decoration: none;
  &:hover {
    opacity: 0.7;
    background-color: #fff;
  }
}

.tweet-btn_mini{
  background-color: #B62924;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 20px;
  font-weight: bold;
}

.tweets {
  border-left: solid #E6ECF0 thin;
  border-right: solid #E6ECF0 thin;
  width: 600px;
  margin:0 auto;
}


.account_name {
  font-weight: bold;
}

.account_name_thin {
  color: grey;
  font-size: 14px;
}

.account_pic {
  border-radius: 30px
}

.tweet_box {
  padding: 10px;
  border-top: solid #E6ECF0 thin;
  padding-top: 20px;
  padding-bottom: 20px;
}

.tweet_box:hover {
 background-color: #F5F8FA;
}

.top_box {
 padding: 10px;
}

.tweet_box_gadget{
 padding: 0 0 0 10px;
}

.gadget-pics{
 margin: 0 60px 0 0;
 padding: 0;
}

.tweet-btn_mini_float {
 font-weight: bold;
}

.edit {
 padding-top:5px;
 vertical-align: top;
}

.edit img{
 padding-left:6px;
}

.name_and_content{
  padding-left: 10px;
  vertical-align: top;
  text-align: left;
  padding-top: 10px;
  padding-bottom: 10px;
}

.top_box_btn{
 padding: 20px;
 margin-bottom: 30px;
}

.main_tweet{
 width:455px;
}

.form-control {
 width: 500px;
 font-size:20px;
}
raeet[content] {
  text-align: left;
}

footer.footer {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #B62924;
  color: black;
  margin-top: auto;
  width: 600px;

}

.footer p{
 color: white;
}
